.landing-body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

.landing-container {
    display: flex;
    height: 100vh;
}

.logo h3 {
    color: #8d0808
}

.landing-left,
.landing-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.landing-left {
    background-color: #ffffff;
}

.logo h1 {
    font-size: 2.5rem;
    color: #333333 margin-bottom: 10px;
}

.logo p {
    font-size: 1.2rem;
    color: #6C757D;
}

.buttons {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn {
    padding: 14px 20px;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.btn.blue {
    background-color: #007BFF;
}

.btn.green {
    background-color: #28A745;
}

.admin-link {
    margin-top: 20px;
    text-decoration: underline;
    color: #007BFF;
    font-weight: bold;
    text-align: center
}


.contact-btn {
    font-size: 0.9rem;
    color: #6C757D;
    text-decoration: none;
    border: 1px solid #6C757D;
    padding: 8px 16px;
    border-radius: 6px;
    transition: all 0.2s;
    margin-left: 240px;
    ;
}

.contact-btn:hover {
    background-color: #6C757D;
    color: #fff;
}

.landing-right {
    background: linear-gradient(to bottom right, #e9f7ef, #e3f2fd);
    display: flex;
    align-items: center;
    justify-content: center;
}

.illustration {
    max-width: 90%;
    max-height: 80%;
    animation: float 4s ease-in-out infinite;
}

/* Simple floating animation */
@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

@media (max-width: 768px) {
    .landing-container {
        flex-direction: column;
    }

    .landing-left,
    .landing-right {
        width: 100%;
        padding: 20px;
    }

    .landing-right {
        display: none;
        /* Hide right panel on mobile */
    }

    .logo h1 {
        font-size: 2.3rem;
    }

    .logo p {
        font-size: 1.3rem;
    }

    .btn {
        font-size: 1rem;
        padding: 12px;
        width: 80%
    }

    .landing-left img {
        width: 90%;
    }

    .admin-link {
        transform: translateX(-20px);
        margin-top: 40px;
    }
}