{% extends "main/base.html" %}
{% load static %}
{% block title %}All Students{% endblock %}

{% block content %}
<div style="margin-top: 80px; text-align: center;">

  {% for grade, students in grades.items %}
  <h3 class="text-center mt-5">{{ grade }}</h3>

  <div class="student-card-grid mt-4">
    {% for student in students %}
    <div class="student-card">
      <img
        src="{% if student.profile_image %}{{ student.profile_image.url }}{% else %}{% static 'main/images/default_profile_image_2.svg' %}{% endif %}"
        class="student-image" alt="{{ student.first_name }} {{ student.surname }}">
      <div class="student-name mt-2">{{ student.first_name }} {{ student.surname }}</div>
      <a href="{% url 'student' student.id %}" class="btn btn-md btn-primary mt-2">View</a>
    </div>
    {% endfor %}
  </div>

  {% endfor %}

</div>
{% endblock %}