{% extends "main/base.html" %}
{% block title %}Parent Home{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Hi, {{ user.first_name }}</h2>
    <p>To view your children's results/reports, please select a child below:</p>

    {% if children %}
    <h5>Your children:</h5>
    <ul class="list-group">
        {% for child in children %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ child.first_name }} {{ child.surname }} ({{ child.grade }})
            <a href="{% url 'student' child.id %}" class="btn btn-primary btn-sm">View Student Page</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>You don't have any children assigned yet.</p>
    {% endif %}
</div>
{% endblock %}