{% extends "main/base.html" %}
{% load static %}
{% block title %}Student{% endblock %}

{% block content %}
<div class = "student-report-page" style="display: flex;  margin: 30px 40px;">
     <div class = "student-report-profile">
    {% if student.profile_pic %}
    <img src="{{ student.profile_pic.url }}" alt="Profile Picture"
        style="width: 150px; height: 150px; object-fit: cover; border-radius: 10px; margin-right: 30px;">
    {% else %}
    <div class ="profile-photo"
        style="width: 150px; height: 150px; background: #ddd; border-radius: 10px;  display: flex; align-items: center; justify-content: center;">
        <span>No Photo</span>
    </div>
    {% endif %}

    <div class = "student-report-information">
        <h2>{{ student.first_name }} {{ student.surname }}</h2>
        <p><strong>Grade:</strong> {{ student.grade }}</p>
        <p><strong>Date of Birth:</strong> {{ student.dob }}</p>
        <p><strong>Class Teacher:</strong> {{ student.class_teacher.name }}</p>
    </div>
    
    <div class ="report-buttons" style="display: flex; flex-direction: column; gap: 10px; ">
        <button class="btn btn-outline-primary" disabled>Previous Results</button>
        <button class="btn btn-outline-primary" disabled>Previous Reports</button>
        <button class="btn btn-outline-success" disabled>Term 2 Results</button>
        <a class="btn btn-outline-success desk-btn d-none d-md-inline-block"
   href="{% url 'student_report' student.id %}" role="button">
  Term 2 Report
</a>
        <!-- Mobile only button -->
        <a href="{% url 'generate_report_pdf' student.id %}" target="_blank"
            class="to-pdf-btn btn btn-outline-danger">📄 View Report PDF</a>
    </div>
</div>
{% endblock %}